.add-user {
    height: 90px;
    display: flex;
    width: 100%;
    align-items: center;
    cursor: pointer;
}
.text-center {
    text-align: center !important;
}
.add-user-btn {
    background:#3b97f7;
    border-radius: 4px;
    border: 0;
    outline: none;
    color:#fff;
    padding: 10px;
    margin-left:auto;
    cursor: pointer;
}
.add-user-btn:disabled {
    background:#97bce2;
}
.modal-body {
    background: rgba(00,00,00,.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none;
}
.modal-body.open {
    display: block !important;
}
.modal-box {
    position: absolute;
    width: 600px;
    background: #fff;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
.modal-box-head {
    padding: 15px;
    border-bottom: 1px solid #999;
}
.modal-box-head a {
    text-decoration: none;
    color: #3b97f7;
    cursor: pointer;
}
.modal-box-body {
    padding: 40px 20px;
    display:flex;
}
.modal-box-body input[type="text"], .modal-box-body input[type="email"], .modal-box-body input[type="number"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
}
.error {
    font-size: 12px;
    color: #f00;
}
.modal-box-body-field {
    width: 100%;
}
.modal-box-footer {
    padding: 15px;
    border-top: 1px solid #999;
}
.d-flex {
    display: flex;
}
.ml-auto {
    margin-left: auto;
}